<%- include('partials/header') %>
    <div class="player-container">
        <h2>
            <%= movie.title %>
        </h2>

        <video controls controlsList="nodownload" disablePictureInPicture class="video-player" width="720p" height="360p">
            <source src="<%= streamUrl %>" type="video/mp4">
        </video>

        <p class="movie-meta">
            <%= movie.description %>
        </p>
    </div>
    <%- include('partials/footer') %>