<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1> Updating Author </h1>
    <!-- Only for testing.. 
     DO NOT USE A FOR LOOP HERE. Remember,
     this is when you click on an author, so rather than displaying all of them,
     you need to display only that value/id.
    -->
    <%= authorInfo[0].firstName %> <br>
    <%= authorInfo[0].lastName %> <br>
    <%= authorInfo[0].dob %> <br>
    <%= authorInfo[0].sex %> <br>
    <!-- Actual form where you will fill out data and actually update the
     profiles if the authors.
     
     -->
    <form action="/updateAuthor" method="POST">
    <!-- set hidden field here to carry over the author id, -->
        <input type="hidden" name ="authorId" value="
        <%=authorInfo[0].authorId %>">
        First Name:
        <!--Similar structure for all other fields, specify type, name (what
        its called in the database, and the value it contains, which is where
        the ejs function will be placed.)-->
        <input type="text" name="firstName" value="
        <%=authorInfo[0].firstName %>"><br>
        Last Name: 
        <input type="text" name="lastName" value="
        <%=authorInfo[0].lastName %>"><br>
        Date of Birth:
        <input type="date" name="dob" value="
        <%=authorInfo[0].ISOdob %>">
        <!-- For gender, since we want it to be automatically chosen, we need
        a  for loop to determine if the author is M or F.
        
        -->
        Sex:
        <label>
        <input type="radio"
        <%=(authorInfo[0].sex =='M')?"checked":""%>
        value="M"name="sex">M</label>
        <label>
        <input type="radio"
        <%=(authorInfo[0].sex == 'F')?"checked":""%>
        value="F"name="sex">F</label><br>


        Biography : <textarea name ="bio"></textarea><br>
        <button>Update Author</button>
    </form>



</body>

</html>